/*       
Colour reference #241           
blue-grey #2C3E50
red #E74C3C
ice blue #ECF0F1
blue #3498DB
darker blue #2980B9


*/
/* https://fonts.google.com/specimen/Inter?query=inter */
/*Variables with a global scope */
:root {
    /* pallet 1 */
    --blue-grey: #2c3e50;
    --red-orange: #E74C3C;
    --ice-blue: #ECF0F1;
    --lighter-blue: #3498DB;
    --darker-blue: #2980B9;
    /* pallet 2 */
    --dark-red: #200E0B;
    --dark-grey: #333634;
    --lighter-grey: #585958;
    --light-grey: #D4D6D6;
    --red: #DC1A00;
}

body{
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--ice-blue);
    background-color: black;
}

.program-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    align-items: center;
    width: 95%;
    padding: 5px;
    margin: 5px;
    border-style: solid;
    border-color: var(--lighter-grey);
    border-width: 1px;
    /* background-color: #2980B9; */
}

#capstone-image-1{

}

.description-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.description{
}
.program-image{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin: 10px;
}

#body-programming1{
    display: flex;
    flex-direction: column;
}

.subpage-title-container{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    width: 100%;
    justify-items: center;
    align-items: center;
}

.Back-Button{
    width: 50px;
}

