/* https://fonts.google.com/specimen/Inter?query=inter */
/*Variables with a global scope */
:root {
    --color-4:#3B424D32;
    --color-3:#306E7332;
    --secondary: var(--color-4);
    --borders:var(--color-3);
}

body{
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text);
    background-color: var(--primary);
}

.Program-Container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    align-items: center;
    width: 95%;
    padding: 5px;
    margin: 5px;
    border-style: solid;
    border-color: var(--borders);
    border-width: 2px;
    background-color: var(--secondary);
    /* background-color: #2980B9; */
}

.Description-Container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Program-Image{
    width: 350px;
    height: auto;
    border-radius: 10px;
    margin: 10px;
}

#body-programming1{
    display: flex;
    flex-direction: column;
}

.Subpage-Title-Container{
    display: grid;
    grid-template-columns: 25% 15% 20% 15% 25%;
    width: 100%;
    justify-items: center;
    align-items: center;
}

.Back-Button{
    width: 50px;
}


@keyframes typing {
    from {width: 0}
    to {width: 100%}
}

.Page-Title{
    grid-column: 3;
}

.Typing{
    display: flex;
    grid-column: 3;
    width: 100%;
    animation:typing 3s steps(30);
    overflow: hidden;
}
